/symple-main/target/
/symple-text/target/
/symple-comm/target/
/symple-audio/target/
/symple-device/target/
/symple-builder/target/
/symple-tools/target/
/symple-media/target/
/symple-voice/target/
/symple-text/target/
/symple-social/target/