<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    
    <Product Id="*" Name="SYMPLE" 
             Language="1033" Version="2.5.4"
             Manufacturer="SpeakYourMind Foundation" 
             UpgradeCode="71985a1b-2eaa-4282-be99-c0d39ca4f89d">
        <Package Description="SYMPLE" Comments="None"
                 InstallerVersion="200" Compressed="yes"
                 InstallScope="perMachine" Platform="x64"/>
        <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
        <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
        <Upgrade Id="71985a1b-2eaa-4282-be99-c0d39ca4f89d">  
            <UpgradeVersion
                Minimum="1.0.0.0" Maximum="2.5.4"
                Property="PREVIOUSVERSIONSINSTALLED"
                IncludeMinimum="yes" IncludeMaximum="no" />
        </Upgrade> 
        
        <InstallExecuteSequence>
            <RemoveExistingProducts Before="InstallInitialize" /> 
           <!-- <Custom Action="LaunchApp" After="InstallFinalize" />-->
        </InstallExecuteSequence> 
        
        <Property Id="ARPPRODUCTICON" Value="DesktopIcon.exe" /> <!-- To Test-->
        <Property Id="APPLICATIONFOLDER">
            <RegistrySearch Key="SOFTWARE\SpeakYourMind Foundation\SYMPLE" 
                            Root="HKLM" Type="raw" 
                            Id="APPLICATIONFOLDER_REGSEARCH" Name="Path" />
        </Property>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Component Id="CleanupMainApplicationFolder" Guid="*" Win64="yes">
                <RegistryValue Root="HKLM"
                               Key="SOFTWARE\SpeakYourMind Foundation\SYMPLE"
                               Name="Path" Type="string" Value="[APPLICATIONFOLDER]"
                               KeyPath="yes" />
                 <!--   <util:RemoveFolderEx On="uninstall" Property="APPLICATIONFOLDER" />
            --></Component>
        </DirectoryRef>        
        
        <?include bundle.wxi ?>
        <UI/>
        <Icon Id="DesktopIcon.exe" SourceFile="SYMPLE.ico" />
        <Icon Id="StartMenuIcon.exe" SourceFile="SYMPLE.ico" />

    </Product>
   <!-- <Fragment>
        <CustomAction Id="LaunchApp" Directory="APPLICATIONFOLDER" ExeCommand="[SystemFolder]cmd.exe /C start SYMPLE.exe"/>
    </Fragment>-->
</Wix>