/*
    X-Small = 1.1em
    Small =1.6em
    Medium = 2.6em
    Large = 3em
    X-Large = 4em
*/
*{
    -fx-dark:#2c3e50;
    -fx-white:white;
    -fx-black:black;
    -fx-grey:derive(-fx-dark,60%);
    -fx-light:derive(-fx-dark,160%);
    -fx-blue:#277CB4;
    -fx-purple:#8e44ad;
    -fx-green:#1F894B;
    -fx-red:#c0392b;	
    -fx-orange:#C75000;
    -fx-transparent:transparent;
}
.text {
    -fx-font-family: "Roboto";
    -fx-font-smoothing-type: gray;
}

.grid, #gpTier, #gpMain, .pane,.main,#apConfig{
    -fx-background-color:-fx-light;
}
.button {
    -fx-background-color: -fx-blue, derive(-fx-dark,10%), -fx-dark;
    -fx-background-radius: 0,0,0,0;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-background-insets: 0,0 0 -1 0;
    -fx-padding: 0 30 0 30;
    -fx-text-alignment:center;
    -fx-text-fill: -fx-light;
    -fx-font-size: 1.6em;
    -fx-effect:dropshadow(gaussian,-fx-dark,2.0,0.0,0,0);

}


.button:hover {
    -fx-background-color: derive(-fx-dark,10%);
    -fx-effect:dropshadow(gaussian,-fx-dark,6.0,0.0,0,0);
}

.label {
    -fx-text-fill: -fx-dark;
    -fx-font-size: 1.6em;
}
.check-box .text {
    -fx-font-size: 1.6em;
}

.check-box .mark {-fx-padding: 1.1em;}

.check-box:selected .mark {
    -fx-background-color: -fx-blue;
    -fx-mark-highlight-color: -fx-blue;
    -fx-padding: 1.1em;
    -fx-shape: "M0,4H2L3,6L6,0H8L4,8H2Z";
}

.check-box *.box {
    -fx-border-color: -fx-dark;
    -fx-border-insets: -3;
    -fx-border-radius: 0;
    -fx-border-width: 5;
    -fx-background-color: transparent;
    -fx-background-radius: 0,0,0,0;

}

.choice-box {
    -fx-background-color: -fx-dark, -fx-light;
    -fx-background-insets: 0,5;
    -fx-background-radius: 0;
}

.choice-box .label {
    -fx-text-fill: -fx-dark;
    -fx-alignment: center;
}

.choice-box .context-menu .label {-fx-text-fill: -fx-dark;}
.choice-box .context-menu {-fx-background-color: -fx-dark, -fx-light;}
.choice-box .menu-item:focused > .label { -fx-text-fill: -fx-light; }
#choice-box-menu-item:hover {-fx-background-color: -fx-blue;}
#choice-box-menu-item:focused{-fx-background-color: -fx-blue;}

.text-field {
    -fx-background-radius: 0;
    -fx-background-color: -fx-light;
    -fx-text-fill: -fx-light;
    -fx-alignment: center;
    -fx-font-size: 1.6em;
}

.text-area {
    -fx-background-radius: 0,0,0,0;
    -fx-padding: 1 30 1 30;
    -fx-display-caret: true;
    -fx-background-color: -fx-light;
    -fx-font-size: 2.6em;
    -fx-text-fill: -fx-dark;
    -fx-highlight-fill: -fx-blue;
}

.text-area .content {
    -fx-background-color: transparent;
    -fx-background-insets: 0,5;
}
.text-area:disabled  .content{
    -fx-background-color: transparent;
    -fx-background-insets: 0,5;
}

.text-area .scroll-pane,
.text-area .scroll-pane .viewport,
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.toggle-button {
    -fx-background-color: -fx-dark;
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 0,0,0,0;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: -fx-light;
    -fx-text-alignment: center;
    -fx-font-size: 1.6em;
}

.toggle-button:selected {
    -fx-text-fill:-fx-light;
    -fx-background-color: -fx-blue;
}

.progress-bar-dark > .track {
    -fx-background-color: -fx-light;
    -fx-background-radius: 0,0,0,0;
}

.progress-bar-dark > .bar {
    -fx-background-color: -fx-dark;
    -fx-background-radius: 0,0,0,0;
}
.progress-bar > .track {
    -fx-background-color: -fx-grey;
    -fx-background-radius: 0,0,0,0;
}

.progress-bar > .bar {
    -fx-background-color: -fx-light;
    -fx-background-radius: 0,0,0,0;
}
.color-picker {
    -fx-background-color: -fx-dark,-fx-light; 
    -fx-background-insets:0,5;
    -fx-background-radius: 0; 
}
.color-picker .color-picker-label .text {
    -fx-fill: -fx-dark;
}
.color-picker .color-picker-label {
    -fx-alignment:center;
}

.slider .thumb {
    -fx-background-color: -fx-grey;
    -fx-background-insets: 0;
    -fx-background-radius: 1.1em; 
    -fx-padding: 0.8em;
    -fx-snap-to-ticks: true;
}

.slider .thumb:hover {-fx-color: -fx-dark;}

.slider .track {
    -fx-background-color: -fx-blue;
    -fx-background-radius: 0,0,0,0;
    -fx-padding: 0.3em;
    -fx-snap-to-ticks: true;
}

.slider .axis {
    -fx-show-tick-marks: true;
    -fx-show-tick-labels: true;
    -fx-tick-mark-stroke: -fx-dark;
    -fx-tick-label-font: 1.1em "Roboto";
    -fx-tick-label-fill: -fx-dark;
}

.main-menu-button, .main-menu-button:hover  {
    -fx-background-color: -fx-dark;
}
.main-text{
    -fx-border-color: -fx-dark;
    -fx-border-insets: -3;
    -fx-border-radius: 0;
    -fx-border-width: 5;
    -fx-font-size:4em;
    -fx-text-fill:-fx-dark;
}
.app-button-label{
    -fx-font-family:"Roboto Bk";
    -fx-text-fill: -fx-light;
    -fx-text-alignment:center;
    -fx-font-size:4em;
}
/*
.desktop-app-button {
    -fx-background-image: url("../images/app_desktop.png");
    -fx-background-size: 80 80;
    -fx-background-color:  -fx-blue, derive(-fx-purple,-10%), -fx-purple;
    -fx-text-alignment:center;
    -fx-text-fill: -fx-light;
}

.desktop-app-button:hover {
    -fx-background-color:  -fx-blue, derive(-fx-purple,-10%), derive(-fx-purple,10%);
    -fx-text-fill: derive(-fx-light,10%);
}

.desktop-home-button {
    -fx-background-image: url("../images/main_home.png");
    -fx-background-color: -fx-blue;
    -fx-background-size: contain;
}

.desktop-keyboard{
    -fx-background-image: url("../images/mouse_keyboard.png");
    -fx-background-color: -fx-blue;
    -fx-background-size: contain;
}
*/
.glass, .glass:hover {-fx-background-color: -fx-light;}

.transparent {-fx-background-color: transparent;}

.diagnostic-button {
    -fx-background-color: -fx-blue;
    -fx-text-fill: -fx-light;
    -fx-font-size: 3em;

    -fx-border-color: -fx-dark;
    -fx-border-insets: 0;
}

.diagnostic-button:hover {-fx-background-color: -fx-blue;}
.diagnostic-button:disabled {-fx-opacity: 1.0;}

.diagnostics-background {
    -fx-background-color: -fx-dark;
}

.results-label {
    -fx-background-color: -fx-light;

    -fx-text-fill: -fx-grey;
    -fx-padding: 10 10 10 10;
}

.results-value {

    -fx-text-fill: -fx-dark;
    -fx-font-size: 3em;
}

.results-title {
    -fx-padding: 1 1 10 10;
    -fx-text-fill: -fx-light;
    -fx-background-color: -fx-green; 
    -fx-font-size: 3em;
}

.results-consensus {-fx-text-fill: -fx-light;}

.play-button {
    -fx-text-fill: -fx-light;
    -fx-background-color: -fx-green;

}

.play-button:hover {-fx-background-color: -fx-green;}

.close-button {
    -fx-text-fill: -fx-light;
    -fx-background-color: -fx-red;

}

.close-button:hover {-fx-background-color: -fx-red;}

.control-clear{    
    -fx-background-image: url("../images/main_exit.png");
    -fx-background-size: contain;
}
.control-next{    
    -fx-background-image: url("../images/forward.png");
    -fx-background-size: contain;
}
.control-previous{    
    -fx-background-image: url("../images/backspace.png");
    -fx-background-size: contain;
}
.control-stop{    
    -fx-background-image: url("../images/stop.png");
    -fx-background-size: 80;
}

.control-speak{    
    -fx-background-image: url("../images/app_speak.png");
    -fx-background-size: contain;
}
.control-clear,.control-speak, .control-next, .control-previous, .control-stop{
    -fx-background-color: -fx-blue;
}
.control-clear:hover,.control-speak:hover, .control-next:hover,.control-previous:hover,.control-stop:hover{
    -fx-background-color: derive(-fx-blue,-10%);
}

.transparent-home{
    -fx-background-image: url("../images/main_home.png");
    -fx-background-size: contain;
}
.transparent-up{
    -fx-background-image: url("../images/up.png");
    -fx-background-size: contain;
}
.transparent-next,.transparent-right{    
    -fx-background-image: url("../images/forward.png");
    -fx-background-size: contain;
}
.transparent-previous,.transparent-left{    
    -fx-background-image: url("../images/backspace.png");
    -fx-background-size: contain;
}
.transparent-stop{    
    -fx-background-image: url("../images/stop.png");
    -fx-background-size: 80;
}

.transparent-down{
    -fx-background-image: url("../images/down.png");
    -fx-background-size: contain;
}
.transparent, .transparent:hover,
.transparent-home,.transparent-home:hover,
.transparent-next, .transparent-next:hover, 
.transparent-previous,.transparent-previous:hover,
.transparent-stop,.transparent-stop:hover{
    -fx-background-color: transparent;
}

.transparent-home:hover,
.transparent-next:hover, 
.transparent-previous:hover,
.transparent-stop:hover{
    -fx-border-color: -fx-blue;
    -fx-border-insets: 0;
    -fx-border-width: 1;
}

.transparent:disabled{
    -fx-opacity:1.0;
}

.music-album-art{
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.music-album-art:disabled{
    -fx-opacity: 1.0;
}

.music-song{

    -fx-text-fill: -fx-blue;
    -fx-font-size: 4em;  
}

.music-artist{
    -fx-text-fill: -fx-blue;
    -fx-font-size: 3em;
}

.music-album{
    -fx-font-style: italic;
    -fx-text-fill: -fx-grey;
    -fx-font-size: 3em;
}

.music-volume-up{-fx-background-image: url("../images/music_volume_up.png");}
.music-volume-down{-fx-background-image: url("../images/music_volume_down.png");}
.music-volume-mute{-fx-background-image: url("../images/music_volume_mute.png");}

.music-volume-up,
.music-volume-down,
.music-volume-mute{
    -fx-background-color: -fx-blue;
    -fx-background-size: contain;
}

.music-volume-up:hover,
.music-volume-down:hover,
.music-volume-mute:hover{
    -fx-background-color: derive(-fx-blue,-10%);
    -fx-background-size: contain;
}
.music-progress {
    -fx-background-color:transparent;
}

.music-progress > .bar {
    -fx-background-color: -fx-dark;
    -fx-background-insets: 0; 
}
.progress-bar > .track {
    -fx-background-color:transparent;
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
}

.lock-button {
    -fx-background-image: url("../images/home_lock.png");
    -fx-background-size: contain;
    -fx-background-color:  -fx-dark, derive(-fx-blue,-10%), -fx-blue;
    -fx-text-alignment:center;
    -fx-text-fill: -fx-light;
}
.lock-button:hover {
    -fx-background-color: -fx-dark, derive(-fx-blue,-10%), derive(-fx-blue,10%);
    -fx-text-fill: derive(-fx-light,10%);
}

.stop-button {
    -fx-background-image: url("../images/home_pause.png");
    -fx-background-color: -fx-blue;
    -fx-background-size: 80 80;
    -fx-padding: 0 0 15 0;
}
.stop-button:hover {-fx-background-color: derive(-fx-blue,10%);}

.speak-home-button, .speak-home-button:hover, .speak-home-button:disabled {
    -fx-background-color: -fx-blue;
    -fx-font-size: 3em;
}

.calibrate-button {
    -fx-background-color: -fx-red;
    -fx-padding: 0 0 15 0;
}

.calibrate-button:hover {-fx-background-color: derive(-fx-red,10%);}

.setting-button {
    -fx-background-image: url("../images/settings.png");
    -fx-background-size: contain;
    -fx-background-color:  -fx-blue, derive(-fx-blue,-10%), -fx-blue;
    -fx-text-alignment:center;
    -fx-text-fill: -fx-light;
    -fx-effect:dropshadow(gaussian,-fx-dark,2.0,0.0,0,0);
}

.setting-button:hover {
    -fx-background-color:  -fx-blue, derive(-fx-blue,-10%), derive(-fx-blue,10%);
    -fx-text-fill: derive(-fx-light,10%);
    -fx-effect:dropshadow(gaussian,-fx-dark,4.0,0.0,0,0);
}

.time-button {
    -fx-background-size: contain;
    -fx-background-color:  -fx-dark, derive(-fx-blue,-10%), -fx-blue;
    -fx-text-alignment:center;
    -fx-text-fill: -fx-light;
}

.time-button:hover {
    -fx-background-color:  -fx-dark, derive(-fx-blue,-10%), derive(-fx-blue,10%);
    -fx-text-fill: derive(-fx-light,10%);
}

.update-version-button {
    -fx-background-image: url("../images/update.png");
    -fx-background-size: contain;
    -fx-background-color:  -fx-dark, derive(-fx-blue,-10%), -fx-blue; 
    -fx-text-alignment:center;
    -fx-text-fill: -fx-light;

}

.update-version-button:hover {
    -fx-background-color:  -fx-dark, derive(-fx-blue,-10%), derive(-fx-blue,10%);
    -fx-text-fill: derive(-fx-light,10%);
}

.preloader-background {
    -fx-background-color: transparent;
    -fx-background-image: url("../images/blue.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.preloader-status {
    -fx-text-fill: -fx-light;
    -fx-font-size: 1.6em;
}

.preloader-exit {-fx-background-image: url("../images/main_exit.png");}
.preloader-exit, .preloader-minimized,.preloader-exit:hover,.preloader-minimized:hover{
    -fx-background-color: transparent;
    -fx-background-size: 50 50;
}

.return {-fx-background-image: url("../images/return.png");}
.move {-fx-background-image: url("../images/move.png");}
.cut {-fx-background-image: url("../images/cut.png");}
.paste {-fx-background-image: url("../images/paste.png");}
.copy {-fx-background-image: url("../images/copy.png");}
.save {-fx-background-image: url("../images/save.png");}
.undo {-fx-background-image: url("../images/undo.png");}
.redo {-fx-background-image: url("../images/redo.png");}
.move, .cut, .paste, .copy, .save, .return, .undo, .redo{
    -fx-background-size: 20 20;
    -fx-background-color: -fx-blue;
} 
.move:hover,.cut:hover,.paste:hover,.copy:hover, .save:hover, .return:hover,.undo:hover, .redo:hover{
    -fx-background-color: -fx-blue;
}

.replace-button{
    -fx-background-image: url("../images/add.png");
    -fx-background-size: contain;
    -fx-background-color: -fx-dark;
}

.toolbar{
    -fx-background-color:-fx-dark;
}

.toolbar-back{
    -fx-background-image: url("../images/backspace.png");
    -fx-background-size: contain;
    -fx-background-color: -fx-dark;
}
.toolbar-edit{-fx-background-image: url("../images/edit_small.png");}
.toolbar-snapshot{-fx-background-image: url("../images/save.png");}
.toolbar-home{-fx-background-image: url("../images/home_small.png");}
.toolbar-update{-fx-background-image: url("../images/update_small.png");}
.toolbar-stats{-fx-background-image: url("../images/stats.png");}
.toolbar-settings{-fx-background-image: url("../images/settings_small.png");
}

.toolbar-edit,
.toolbar-snapshot,
.toolbar-home,
.toolbar-update,
.toolbar-stats,
.toolbar-settings,
.toolbar-minimized {
    -fx-background-size: 20 20;
    -fx-background-color: -fx-dark;
    -fx-background-repeat: no-repeat;  
    -fx-effect:dropshadow(gaussian,-fx-dark,0.0,0.0,0,0);
}
.toolbar-home:hover,
.toolbar-settings:hover,
.toolbar-minimized:hover,
.toolbar-stats:hover,
.toolbar-update:hover,
.toolbar-snapshot:hover,
.toolbar-edit:hover{
    -fx-background-color: -fx-blue;       
    -fx-effect:dropshadow(gaussian,-fx-dark,0.0,0.0,0,0);
}

.toolbar-exit {
    -fx-background-image: url("../images/main_exit.png");
    -fx-background-color: -fx-dark;
    -fx-background-size: 50;
}
.toolbar-power {
    -fx-background-image: url("../images/power_small.png");
    -fx-background-color: -fx-dark;
    -fx-background-size: 20 20;
}
.toolbar-exit:hover,
.toolbar-power:hover{
    -fx-background-color: -fx-red;
}

.toolbar-remove, .toolbar-edit-app{
    /*   -fx-min-width: 40px;
       -fx-min-height: 40px; 
       -fx-max-width: 40px;       
       -fx-max-height: 40px;*/
    -fx-background-insets: 0,0;
    -fx-background-size: 40;
}

.toolbar-remove {
    -fx-background-image: url("../images/main_exit.png");
    -fx-background-color: -fx-dark,-fx-blue;
    -fx-effect:dropshadow(gaussian,-fx-dark,4.0,0.0,0,0);
}

.toolbar-edit-app{
    -fx-background-image: url("../images/edit_small.png");
    -fx-background-color: -fx-dark,-fx-blue;
    -fx-background-size: 20;
    -fx-effect:dropshadow(gaussian,-fx-dark,4.0,0.0,0,0);
}

.toolbar-edit-grid,.toolbar-add{
    -fx-min-width: 80px;
    -fx-min-height: 80px; 
    -fx-max-width: 80px;      
    -fx-max-height: 80px;
    -fx-background-color: -fx-dark,-fx-blue;
    -fx-background-insets: 0,0;
}

.toolbar-remove:hover,
.toolbar-edit-app:hover,
.toolbar-edit-grid:hover,
.toolbar-add:hover{
    -fx-background-color:  derive(-fx-blue,10%);
    -fx-effect:dropshadow(gaussian,-fx-dark,8.0,0.0,0,0);
}
.toolbar-add {
    -fx-background-image: url("../images/add.png");
    -fx-background-size:contain;
}
.toolbar-edit-grid{
    -fx-background-image: url("../images/edit_grid.png");
    -fx-background-size: 20 20;
}

.settings-title {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-light;
    -fx-font-size: 3em;
    -fx-padding: 0 20 -15 0;
    -fx-font-weight:bold;
}

.settings-text-area,.settings-text-area:hover  {
    -fx-background-color: -fx-dark, -fx-light;
    -fx-background-insets: 0,5;
    -fx-text-fill: -fx-dark;
    -fx-effect:dropshadow(gaussian,-fx-dark,0.0,0.0,0,0);

}

.settings-button,.settings-button:hover{
    -fx-background-color:-fx-blue;
    -fx-text-fill:-fx-light;
    -fx-font-weight:bold;    
    -fx-effect:dropshadow(gaussian,-fx-dark,2.0,0.0,0,0);
}

.settings-button:hover{
    -fx-background-color: derive(-fx-blue,10%);
    -fx-effect:dropshadow(gaussian,-fx-dark,4.0,0.0,0,0);
}

.delete-settings-button{
    -fx-background-color:-fx-red;
    -fx-font-weight:bold;
}

.delete-settings-button:hover{
    -fx-background-color: derive(-fx-red,10%);
}
.settings-hyperlink{
    -fx-background-color:-fx-light;
    -fx-text-fill: -fx-blue;
    -fx-alignment:top-left;
    -fx-padding: 0 0 0 40;
}

.settings-label{
    -fx-font-size: 2.6em;
    -fx-padding: 0 0 0 0;
    -fx-font-weight:bold;
}

.settings-text{
    -fx-alignment:center;
    -fx-text-alignment:center;
    -fx-font-size: 2.6em;

}
.settings-caption{
    -fx-text-fill: -fx-dark;
    -fx-font-size:1.8em;
}
.settings-pane{
    -fx-background-color: -fx-dark,-fx-light;
    -fx-background-insets: 0,0 0 1 0;
}
.settings-slider-label{
    -fx-font-size:1.1em; 
    -fx-text-fill:-fx-dark;
}

.settings-control{
    -fx-background-color: -fx-dark;
}
.settings-control:hover{
    -fx-background-color: -fx-dark;
}

.delete-button {
    -fx-background-image: url("../images/delete.png");
    -fx-background-size: 40 40;
}

.exit-button {
    -fx-background-image: url("../images/main_exit.png");
    -fx-background-size: contain;
    -fx-background-color:  -fx-blue, derive(-fx-red,-10%), -fx-red;
    -fx-text-alignment:center;
    -fx-padding: 0 0 0 0;
    -fx-text-fill: -fx-light;
}

.exit-button:hover {
    -fx-background-color:  -fx-blue, derive(-fx-red,-10%), derive(-fx-red,10%);
    -fx-text-fill: derive(-fx-light,10%);
}

.calibration-background{-fx-background-color: -fx-dark;}
.calibration-button{-fx-background-color: -fx-green;}
.calibration-button:hover{-fx-background-color: derive(-fx-green,10%);}

.chart .axis{
    visibility:hidden;
}
.chart {
    -fx-background-color: -fx-light;
}
.chart-content {
    -fx-background-color: -fx-light;
}
.default-color0.chart-bubble,
.default-color1.chart-bubble,
.default-color2.chart-bubble,
.default-color3.chart-bubble,
.default-color4.chart-bubble,
.default-color5.chart-bubble,
.default-color6.chart-bubble{
    -fx-background-color: -fx-green;
    -fx-opacity:1.0;
}

.chart-symbol{
    -fx-background-insets: 0, 20;
    -fx-background-radius: 25px;
    -fx-padding: 5px;
}

.tab-pane{
    -fx-tab-min-width:60px;    
    -fx-tab-max-width:60px;    
    -fx-tab-min-height:240px;    
    -fx-tab-max-height:240px;
}

.tab-pane .tab-header-background{
    -fx-background-color: -fx-blue;
    -fx-opacity:1.0;
}

.tab-pane:left *.tab-header-area {
    -fx-background-insets: 0, 0 0 0 0;
}
.tab-pane .tab{
    -fx-background-radius:0;
    -fx-background-color: -fx-blue;   


}

.tab-pane .tab:selected {
    -fx-text-fill: -fx-blue;
    -fx-background-color: -fx-light;
    -fx-focus-color: -fx-blue;
}

.tab-title { 
    -fx-alignment: center-left;
    -fx-text-fill: -fx-light;
    -fx-font-size: 1.6em;
}


.tab .tab-label { 
    -fx-alignment: CENTER;

    -fx-text-fill: -fx-light;
    -fx-font-size: 1.5em;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: -fx-light;
}

.tab-content-area{
    -fx-background-color:transparent;
}

.tab-down-button {
    -fx-background-color: transparent;
    -fx-padding: 0.0em 0.416667em 0.0em 0.416667em; 
}
.tab-down-button .arrow 
{
    -fx-background-color: -fx-grey, -fx-dark;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.238083em 0.416667em 0.238083em 0.416667em;
    -fx-shape: "M 0 0 H 7 L 3.5 4 z";
}
.scroll-bar{
    -fx-background-color: -fx-light;
    -fx-background-radius: 0;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
    -fx-background-color: derive(-fx-light,-1%);;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.scroll-bar:horizontal .thumb {
    -fx-background-color: -fx-grey;
    -fx-background-insets: 4 0 4 0;
    -fx-background-radius: 0;
}
.scroll-bar:vertical .thumb {
    -fx-background-color: -fx-grey;
    -fx-background-insets: 0 4 0 4;
    -fx-background-radius: 0;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: -fx-grey;
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: -fx-grey;
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0;
    -fx-padding: 5;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0;
    -fx-padding: 5;
}
.scroll-bar:horizontal .increment-arrow {
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-background-color: -fx-grey;
    -fx-padding: 0.25em;
    -fx-rotate: -90;
}
.scroll-bar:vertical .increment-arrow {
    -fx-background-color: -fx-grey;
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: 0;
}
.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: -fx-grey;
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: 90;
}
.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: -fx-grey;
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: -180;
}

.dialog-label{
    -fx-padding: 0 40 0 40;
}

.scanner, .scanner:disabled{
    -fx-background-color:-fx-blue,-fx-light;
    -fx-opacity:1.0;
}

.border-background{
    -fx-background-color: -fx-dark, -fx-light;
    -fx-background-insets: 0,5;
}

.error-background{
    -fx-background-color: -fx-light, -fx-red;
    -fx-background-insets: 0,5;
}

.background, .background:disabled{
    -fx-background-color:-fx-light;
    -fx-opacity:1.0;
}

.subgrid,.subgrid:disabled{
    -fx-background-color: transparent;
}
.picto-area,.picto-area:disabled{
    -fx-background-color: transparent;
    -fx-border-color: -fx-dark;
    -fx-border-insets: 0;
    -fx-border-width: 10;
    -fx-opacity:1.0;
}

.highlight,.highlight:disabled{
    -fx-border-color: -fx-dark;
    -fx-border-insets: 0;
    -fx-border-width: 15;
}

.selector,.selector:hover{
    -fx-background-color:-fx-orange;
    -fx-opacity:0.0;
}
.selector-left,.selector-right,.selector-left:hover,.selector-right:hover{
    -fx-background-color:-fx-blue;
    -fx-opacity:0.4;
}

.selector-left{    
    -fx-background-image: url("../images/backspace.png");
    -fx-background-size: contain;
}
.selector-right{    
    -fx-background-image: url("../images/forward.png");
    -fx-background-size: contain;
}
.locked{
    -fx-background-color:-fx-light;
    -fx-opacity:0.1;
}
